/* Experience Page */
:root {
    --dark-bg: #141414;
    --dark-accent: #0e0e8b;
    --light-text: #F0F9FF;
    --blue-hover: #676fff;
    --dark-text: #B0B0B0;
}

.experience-grid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.experience-card {
    width: 100%; 
    max-width: 800px;
    margin: 0 auto; 
    background-color: rgba(30, 64, 175, 0.3);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(18, 2, 255, 0.438);
    transition: transform 0.3s, box-shadow 0.3s;
}

.experience-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.experience-card h2 {
    margin: 0 0 0.5rem;
    font-size: 1.5rem;
    color: var(--blue-hover);
}

.experience-card h3 {
    margin: 0 0 0.5rem;
    font-size: 1.2rem;
    color: var(--dark-text);
}

.experience-duration {
    font-style: italic;
    margin-bottom: 1rem;
    color: var(--light-text);
}