:root {
    --dark-bg: #141414;
    --dark-accent: #0e0e8b;
    --light-text: #F0F9FF;
    --blue-hover: #676fff;
    --dark-text: #B0B0B0;
}

/* New code!! */
.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: 4px;
    height: 100%;
    background-color: #333;
}

.experience {
    position: relative;
    padding-left: 40px;
    margin-bottom: 30px;
}

.experience::before {
    content: '';
    position: absolute;
    top: 5px;
    left: -8px;
    width: 16px;
    height: 16px;
    background-color: #8785a5;
    border: 3px solid #333;
    border-radius: 50%;
}

.experience h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.experience p {
    margin: 5px 0 0;
    font-size: 1em;
    color: #666;
}
