/* Home Page Specific */
:root {
    --dark-bg: #141414;
    --dark-accent: #0e0e8b;
    --light-text: #F0F9FF;
    --blue-hover: #676fff;
    --dark-text: #B0B0B0;
}

.home-section {
    text-align: center;
    padding: 4rem 0;
}

.home-section h1 {
    color: var(--light-text);
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.profile-img {
    border: 1px solid var(--dark-accent);
    max-width: 300px;
    margin: 2rem auto;
}

.home-description {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}